<section>
    <h2>I would like to know my audience!</h2>
    <ul>
        <li>Who can program in Scala?</li>
        <li>Who can program in Java?</li>
    </ul>
</section> 
<section>
    <h2> How we will learn </h2>
    <ul>
    	<li>We will always start at the Value Level</li>
    	<li>Then we will translate it to the Type Level</li>
    </ul>
    <h2 style="margin-top: 50px;"> What we will learn </h2>
    <ul>
        <li>First Steps: A type level Boolean Type</li>
        <li>Advanced: A type level Numeric Type</li>
        <li>Doing something useful : Solve our List Problem </li>
        <!-- Complement Value Level <br/> Programming with Type Level Programming -->
    </ul>
    @notesMd{
    	* value level == normal programming
    	
    	* Boolean == Hello World of Type Level Programming
    	* Numeric Type == Recursion at the Type Level
    	* finally sth useful - in the end we want to run a program, right?
	}        
</section>
