<section>
    <h2>That's it! :-)</h2>
    <ul>
        <li>Questions?</li>
        <li>Comments?</li>
        <li>Remarks?</li>
    </ul>
    <h2 style="margin-top: 75px;">Links</h2>
    <ul>
        <li>Slides: TBA</li>
        <li>Joe Barnes (@@joescii) : 
        	<a href="http://proseand.co.nz/2014/02/17/type-programming-shifting-from-values-to-types/"> 
        		Blog Series 
        	</a>
        </li>
        <li>
        	Scala Type Level Programming Resources : <br/> Huge answer on 
        	<a href="http://stackoverflow.com/questions/4415511/scala-type-programming-resources">StackOverflow</a>
        </li>
    </ul>
</section>