<section>
    <h2>Learnings</h2>
    <ul>
        <li>Type Level Programming is not that different!</li>
        <li>Instead of values we produce types.</li>
        <li>There are 2 types of parameters: value and type parameter.</li>
        <li>With Types you can constrain your program to become more correct.</li>
    </ul>
    @notesMd {
        - elevated my mind beyond Java Level generics to tell the compiler what's inside a container
        - Scala has two parameter lists: one at the value level and one at the type level
        - you enhance your program with type level metadata to constrain your program.
        - Many or all exceptions can be replaced if you model your program accordingly (example: NonEmptyList)
    }
</section>

<section>
    <h2>That's it! :-)</h2>
    <ul>
        <li>Questions?</li>
        <li>Comments?</li>
        <li>Remarks?</li>
    </ul>
    <h2 style="margin-top: 75px;">Links</h2>
    <ul>
        <li>Slides + Code: 
            <a href="https://github.com/mavilein/introduction-to-type-level-programming-in-scala"> 
                github.com/mavilein/introduction-to-type-level-programming-in-scala
            </a>
        </li>
        <li>Joe Barnes (@@joescii) : 
        	<a href="http://proseand.co.nz/2014/02/17/type-programming-shifting-from-values-to-types/"> 
        		Blog Series 
        	</a>
        </li>
        <li>
        	Scala Type Level Programming Resources : <br/> Huge answer on 
        	<a href="http://stackoverflow.com/questions/4415511/scala-type-programming-resources">StackOverflow</a>
        </li>
    </ul>
</section>