<section>
    <h1>Motivation</h1>
    <ul>
        <li>What is the general idea?</li>
    </ul>
    <img src="https://www.dropbox.com/s/7gy8d0wh88s9qbt/Screenshot%202014-11-11%2021.03.40.png?dl=1" />
    @notesMd{
        * We want to catch more potential errors at compile time instead of runtime.
        * Not just if we put in a number or sequence of characters.
        * We want to add useful metadata to our code.
        * I started with this one and a half weeks ago.
    }
</section>

<section>
    <h2> Our Problem for today</h2>
    <img src="https://www.dropbox.com/s/gib1vb5xmubymog/Screenshot%202014-11-17%2011.16.25.png?dl=1" />
</section>    

<section>
    <h2> Our goal </h2>
    <div class="embed-tweet" style="margin-left: 24%;">
        <blockquote class="twitter-tweet" lang="de"><p>A hopeful vision for our future generations of developers <a href="http://t.co/f19NjrY2tk">pic.twitter.com/f19NjrY2tk</a></p>&mdash; mrb (@@mrb_bk) <a href="https://twitter.com/mrb_bk/status/524602194788884480">21. Oktober 2014</a></blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</section>