<section>
	<h1> Numbers at the Type Level </h1>
	<p>Or: How to do recursion</p>
	@notesMd{
		* so far we had a finite number of types
		* but we need an infinite number of types for infinite things like numbers
	}
</section>

<!-- <section>
	<h2>What are Peano Numbers?</h2>
</section>		 -->

<section>
	<h2>Starting at the Value Level</h2>
	@includeCode("app/peano/Peanos.scala", "peano-trait-val")
	<div class="">
		@includeCode("app/peano/Peanos.scala", "zero-val")
		@includeCode("app/peano/Peanos.scala", "peanon-val")
	</div>		
	<div class="fragment">
		@includeCode("app/peano/PeanoExamples.scala", "peano-ex1")
	</div>		
	<img src="/assets/images/Peanos.jpg" class="fragment"/>
	@notesMd{
		- actual value is determined by the number of predecessors
	}
</section>

<section>
	<h2>The translation #1</h2>
	@includeCode("app/peano/Peanos.scala", "peano-trait-val")
	@includeCode("app/peano/Peanos.scala", "peano-trait-type")
	
    @rules(3)
</section>

<section>
	<h2>The translation #2</h2>
	@includeCode("app/peano/Peanos.scala", "zero-val")
	@includeCode("app/peano/Peanos.scala", "zero-type")
	
    @rules(4)
    @notesMd{
    	- instead of the normal constructor to create an instance/value
    	- we use something similar: a type constructor
	}
</section>

<section>
	<h2>The translation #3</h2>
	@includeCode("app/peano/Peanos.scala", "peanon-val")
	@includeCode("app/peano/Peanos.scala", "peanon-type")
	
    @rules(7)

    @notesMd{
    	- instead of the normal constructor to create an instance/value
    	- we use something similar: a type constructor
	}
</section>

<section class="wide-slide">
	<h2>Final Code</h2>
	<div style="float:left; width: 49%;">
		@includeCode("app/peano/Peanos.scala", "peano-trait-val")
		@includeCode("app/peano/Peanos.scala", "zero-val")
		@includeCode("app/peano/Peanos.scala", "peanon-val")
	</div>	
	<div style="float:right; width: 50%;">
		@includeCode("app/peano/Peanos.scala", "peano-trait-type")
		@includeCode("app/peano/Peanos.scala", "zero-type")
		@includeCode("app/peano/Peanos.scala", "peanon-type")
	</div>
</section>	

<section>
	<h2>Tests</h2>
	@includeCode("test/peano/PeanoSpecs.scala", "peano-val-spec-1")
	@includeCode("test/peano/PeanoSpecs.scala", "peano-type-spec-1")
	@notesMd{
		* nothing new here
		* the key message is: if you can recurse on the value level, you can also do it on the type level
	}
</section>	